/*
h2 {
    color: #0f0;
}
*/

//div.no-sidebar span.site-name { display: none; }

header.navbar {
    background-color: #359FF0;

    span.site-name {
        //display: none;
        color: black;
    }

    div.links {
        background-color: transparent;
        font-size: 1.1rem;
        color: black;

        nav.nav-links {

            a.repo-link { display: none; }

            a.router-link-active {
                color: #2f2f2f;
                border-color: black;

            }

            a:not(.external).nav-link:hover {
                color: #2f2f2f !important;
                border-color: black;
            }
        }
    }

    a .icon.outbound {
        color: black;
    }
}

details > summary:hover {
    text-decoration: underline;
}
