# Ignore these when building Docker image
**/.env
**/target

# don't ignore blacklab-solr.jar, copy directly to image [dev]
#!solr/target/blacklab-*.jar
#!solr/target/lib/*.jar

**/bin
**/.settings
**/.idea
**/*.iml
**/.vscode
**/doc
/*.md
**/README.md
**/.project
**/.classpath
**/.factorypath
**/.apt_generated/
**/.apt_generated_tests/

# .git - needed for buildnumber-maven-plugin to determine SCM revision

# vi temporary files
**/*.swp

# log files, such as JVM crash files
**/*.log

# Test defines its own container and doesn't need to be included in the main container context
/test
# (BUT: a unit test used files from /test/data/input, so we need to make sure those are included)
# (now just copied these two files - config not needed(?))
#!/test/data/voice-tei.blf.yaml
#!/test/data/input
#!/test/config

/test/node_modules

# Ignore docker files, we don't need these inside the container.
**/Dockerfile
**/.dockerignore
**/docker-compose*.yml
