# Maven build output
target
bin

# Eclipse project settings
.settings
.project
.classpath
.factorypath
/.apt_generated/
/.apt_generated_tests/

# IntelliJ IDEA project settings (old and new)
*.iml
.idea

# VS Code files
.vscode

# vi temporary files
*.swp

# log files, such as JVM crash files
*.log


# vscode project settings
.factorypath

# Exclude *.env files except default .env
?*.env
