# Base Docker Compose file for BlackLab.
# (docker-compose.override.yml contains development overrides)

version: '3.9'

services:

  server:
    image: instituutnederlandsetaal/blacklab:${IMAGE_VERSION}
    build:
        context: .
        dockerfile: docker/Dockerfile
    environment:
      # Give JVM enough heap memory
      - "JAVA_OPTS=-Xmx10G"
    ports:
      - "8080:8080"
    volumes:
      - blacklab-data:/data

  # Creates new index
  indexer:
    image: instituutnederlandsetaal/blacklab:${IMAGE_VERSION}
    profiles:
      - tools
    build:
        context: .
        dockerfile: docker/Dockerfile
    command: >-
        /bin/bash -c 
        "cd /usr/local/lib/blacklab-tools &&
        java -cp '*' nl.inl.blacklab.tools.IndexTool create /data/index/${INDEX_NAME} /input ${INDEX_FORMAT}"
    volumes:
      - "${BLACKLAB_FORMATS_DIR:-./formats}:/etc/blacklab/formats"
      - "${INDEX_INPUT_DIR:-./input}:/input"
      - blacklab-data:/data

  # Indexes the test data and starts the server
  # (remote debugging is always enabled)
  testserver:
    image: instituutnederlandsetaal/blacklab:${IMAGE_VERSION}
    profiles:
      - tools
    build:
        context: .
        dockerfile: docker/Dockerfile
        args:
          # Allow for custom configuration of tomcat/blacklab server if necessary
          CONFIG_ROOT: ${CONFIG_ROOT:-docker/config}
    environment:
      # JPDA settings, to allow remote debugging
      - JPDA_ADDRESS=*:5005
      - JPDA_TRANSPORT=dt_socket
      # Pass overridden feature flag(s) directly to the container (for testing both values)
      - BLACKLAB_FEATURE_integrateExternalFiles
    # Create test index. Run Tomcat with JPDA enabled
    command: "/bin/bash /etc/blacklab/start-with-test-data.sh"
    ports:
      - "${BLACKLAB_TEST_PORT:-8080}:8080"
      - "5005:5005"
    volumes:
      - ./test/data:/input
      - ./test/data/voice-tei.blf.yaml:/etc/blacklab/formats/voice-tei.blf.yaml
      - blacklab-data:/data

  # Runs the tests on the test server
  test:
    profiles:
      - tools
    environment:
      - APP_URL=${APP_URL:-http://testserver:8080/blacklab-server}
      - INDEX_TEST_DATA_ROOT=${INDEX_TEST_DATA_ROOT:-data}
    build: test
    depends_on:
      - testserver



# Volume where our indexes will be stored.
volumes:
  blacklab-data: {}
