body {
	background: #004;
	color: white;
    overflow: hidden;
	scroll: no;
}

pre {
    font-family: "Courier New", monospace;
    margin: 8px;
}

#output {
	padding: 10px;
	border: 2px solid #00e;
	border-radius: 5px;
	background: black;
	color: white;
	overflow: auto;
}

#output b {
    color: yellow;
    font-weight: bold;
}

#output a {
    color: yellow;
    font-weight: bold;
}

#input {
    color: yellow;
	font-weight: bold;
}

#input input {
	padding: 5px;
    border: 2px solid yellow;
    border-radius: 5px;
	background: black;
	color: yellow;
    font-weight: bold;
	font-family: "Courier New", monospace;
}

input:focus {
    outline: 0;
}
