base: /BlackLab/  # prepend this to all URLs
title: BlackLab
description: Documentation for the corpus search engine BlackLab
themeConfig:
  smoothScroll: true
  #logo: /images/logo-blacklab.png
  nav:
    - text: Guide
      link: /guide/
    - text: Webservice
      link: /server/
    - text: Frontend
      link: /frontend/
    - text: Developers
      link: /development/
  repo: INL/BlackLab
  lastUpdated: Last Updated
  sidebar:
    /guide/:
      - ['', 'Introduction']
      - getting-started
      - indexing-with-blacklab
      - how-to-configure-indexing
      - corpus-query-language
      - [ 'faq', 'FAQ' ]
      - future-plans
      - who-uses-blacklab
      - about
    /server/:
      - ''
      - [ 'overview', 'How to use' ]
      - [ 'rest-api/', 'API reference' ]
      - from-different-languages
      - configuration
      - howtos
    /frontend/:
      - ''
    /development/:
      - ''
      - downloads
      - examples/example-application
      - query-tool
      #- apidocs/
      - title: Customization
        children:
        - customization/docindexer
        - customization/query-language
        - customization/plugins
        - customization/legacy-docindexers
      - solr/
      - migration-guide
      - changelog
    /:
      - ''
  # default value is true. Set it to false to hide next page links on all pages
  nextLinks: true
  # default value is true. Set it to false to hide prev page links on all pages
  prevLinks: true
  
  # Enable this when site is in the repo?
  docsDir: site/docs
  docsBranch: dev
  editLinks: true # defaults to false, set to true to enable
  editLinkText: 'Help us improve this page!'

plugins:
  "@vuepress/plugin-html-redirect":
      countdown: 0

