body.topBarDisabled {
    padding-top: 0;
}

body>.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

#bodyColumn {
    max-width: 900px;
}

#banner {
    padding: 20px;
    background-color: #359FF0;
}

/* Stick the INL logo to the side of the screen */
#banner>.pull-right {
    position: relative;
    left: 20px;
}

#banner h2 {
    font-family: 'Signika', sans-serif;
    font-size: 40pt;
}

#bannerLeft>img {
    height: 90px;
}

body>.container-fluid>.row-fluid {
    padding-left: 20px;
    padding-right: 20px;
    width: auto;
}

body>.footer {
    padding-left: 20px;
    padding-right: 20px;
}

h1, h2, h3, h4, h5 {
    font-family: 'Nunito', sans-serif;
    font-weight: normal;
    color: #656E79;
}