<?xml version="1.0" encoding="UTF-8"?>
<web-app
        xmlns="http://xmlns.jcp.org/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
        version="4.0"
>
  <display-name>BlackLab Server</display-name>

  <!-- make sure static resources are forwarded to the default servlet -->
  <filter>  
    <filter-name>default</filter-name>  
    <filter-class>nl.inl.blacklab.server.DefaultFilter</filter-class>  
  </filter>
  <filter-mapping>  
    <filter-name>default</filter-name>
    <servlet-name>default</servlet-name>
    <url-pattern>/search-test/*</url-pattern>
  </filter-mapping>

  <!-- route all other requests through the BlackLabServer entry point class -->
  <servlet>
    <servlet-name>blacklab-server</servlet-name>
    <servlet-class>nl.inl.blacklab.server.BlackLabServer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>blacklab-server</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
  
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
</web-app>